<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rooms</title>
</head>
<body>
  <h1>Rooms</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi sapiente aliquam alias, nemo fugit hic doloribus accusamus ratione repudiandae totam sequi. Mollitia dignissimos aperiam explicabo quasi laudantium eum commodi est!</p>
  
</body>
</html>