<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'stylesheets/bulma/css/bulma.min.css' %}">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <title>Rooms | The place where you belong</title>
</head>
<body>
  <section class="hero is-info is-fullheight">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item" href="{% url 'home' %}">
                Home
              </a>
              <a class="navbar-item" href="/admin">
                Admin
              </a>
              <a class="navbar-item" href="{% url 'explore' %}">
                Explore
              </a>
              <a class="navbar-item" href="/room/6578799c-bc5d-42bf-8e9a-6dedaa956d5f/">
                Room
              </a>
              <span class="navbar-item">
                <a class="button is-info is-inverted" href="{% url 'login' %}">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>Login</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <main class="content">
          <h1 class="title is-1">Find or create the place where you belong</h1>
          <p class="subtitle is-6">From gaming, to music, to learning, there's a place for you.</p>
        </main>
      </div>
    </div>
  </section>
  
</body>
</html>