{% extends 'room/base.html '%}

{% include 'room/navbar.html'%}

{% block content %}
<div class="container mt-1">
  <div class="banner">
    <figure class="image is-3by1 cover-container">
      <img src="https://bulma.io/images/placeholders/720x240.png">
      <div class="bottom-left"><h1 class="title mb-5">Star Wars Community</h1></div>
      <div class="bottom-left"><p><a href="#">Anakin Skywalker</a></p></div>
      <div class="bottom-right"><a href="#" class="button is-info is-outlined">&nbsp;&nbsp;&nbsp;Join&nbsp;&nbsp;&nbsp;</a></div>
    </figure>
  </div>

  <div class="mt-5">
    <textarea class="textarea" placeholder="Announce something to your room" rows="1"></textarea>
  </div>

  <div class="post mt-5 mb-5">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p><strong>Anakin Skywalker</strong></p>
            <small class="is-6"><a href="#">@Skywalker</a></small>
          </div>
        </div>

        <div class="content">
          <p>Lorem ipsum dolor sit amet <a href="#">www.threevanny.com</a> consectetur adipisicing elit. Temporibus itaque quaerat magni veritatis quis saepe in iste, minima iure non, doloremque inventore illo at perferendis reiciendis. Ut molestiae voluptatum eum?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus itaque quaerat magni veritatis quis saepe in iste, minima iure non, doloremque inventore illo at perferendis reiciendis. Ut molestiae voluptatum eum?. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus cum magnam tempore maiores illo incidunt autem quod. Natus debitis unde, omnis explicabo a laboriosam perferendis sint nobis, cum culpa maxime.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="#">GitHub</a> Temporibus itaque quaerat magni veritatis quis saepe in iste, minima iure non, doloremque inventore illo at perferendis reiciendis. Ut molestiae voluptatum eum?</p>
        </div>

        <footer class="card-footer">
          <textarea class="textarea mt-5" placeholder="Write a comment..." rows="1"></textarea>
        </footer>
      </div>
    </div>
  </div>

  <div class="post mt-5 mb-5">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p><strong>Anakin Skywalker</strong></p>
            <small class="is-6"><a href="#">@Skywalker</a></small>
          </div>
        </div>

        <div class="content">
          <figure class="image is-16by9">
            <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
          </figure>
        </div>

        <footer class="card-footer">
          <textarea class="textarea mt-5" placeholder="Write a comment..." rows="1"></textarea>
        </footer>
      </div>
    </div>
  </div>

  <div class="post mt-5 mb-5">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p><strong>Anakin Skywalker</strong></p>
            <small class="is-6"><a href="#">@Skywalker</a></small>
          </div>
        </div>

        <div class="content">
          <p>Lorem ipsum dolor sit amet <a href="#">www.threevanny.com</a> consectetur adipisicing elit. Temporibus itaque quaerat magni veritatis quis saepe in iste, minima iure non, doloremque inventore illo at perferendis reiciendis. Ut molestiae voluptatum eum?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus itaque quaerat magni veritatis quis saepe in iste, minima iure non, doloremque inventore illo at perferendis reiciendis. Ut molestiae voluptatum eum?. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus cum magnam tempore maiores illo incidunt autem quod. Natus debitis unde, omnis explicabo a laboriosam perferendis sint nobis, cum culpa maxime.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="#">GitHub</a> Temporibus itaque quaerat magni veritatis quis saepe in iste, minima iure non, doloremque inventore illo at perferendis reiciendis. Ut molestiae voluptatum eum?</p>
        </div>

        <footer class="card-footer">
          <textarea class="textarea mt-5" placeholder="Write a comment..." rows="1"></textarea>
        </footer>
      </div>
    </div>
  </div>

  <div class="post mt-5 mb-5">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p><strong>Anakin Skywalker</strong></p>
            <small class="is-6"><a href="#">@Skywalker</a></small>
          </div>
        </div>

        <div class="content">
          <p>Lorem ipsum dolor sit amet <a href="#">www.threevanny.com</a> consectetur adipisicing elit. Temporibus itaque quaerat magni veritatis quis saepe in iste, minima iure non, doloremque inventore illo at perferendis reiciendis. Ut molestiae voluptatum eum?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus itaque quaerat magni veritatis quis saepe in iste, minima iure non, doloremque inventore illo at perferendis reiciendis. Ut molestiae voluptatum eum?. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus cum magnam tempore maiores illo incidunt autem quod. Natus debitis unde, omnis explicabo a laboriosam perferendis sint nobis, cum culpa maxime.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="#">GitHub</a> Temporibus itaque quaerat magni veritatis quis saepe in iste, minima iure non, doloremque inventore illo at perferendis reiciendis. Ut molestiae voluptatum eum?</p>
        </div>

        <footer class="card-footer">
          <textarea class="textarea mt-5" placeholder="Write a comment..." rows="1"></textarea>
        </footer>
      </div>
    </div>
  </div>
</div>


{% endblock %}